* {
    font-family: "Inter", sans-serif;

}

header {
    .white_spacing {
        padding-left: 24px;
        padding-right: 24px;
    }

    .wid-h1 {
        max-width: 540px;
    }

    .wid_p {
        max-width: 525px;
    }

    .navbar-collapse {
        flex-grow: 0 !important;

    }

    .space_between_navs {
        padding-left: 22px;
        padding-right: 22px;
    }

    .btn-primary {
        background-color: #8EADD5 !important;
    }

    .costom_padding {
        padding: 97px 25px 0px !important;

    }

    .costom_padding_p {
        padding-bottom: 39px !important;


    }
}

.companies {
    .costom_padding_companies {
        padding-top: 120px !important;
        padding-left: 24px !important;
        padding-right: 24px !important;


    }

    .compPhoto_wid {
        max-width: 915px;
        height: 86px;
    }

    .compPhotos_background {
        background-color: #F6F6F6 !important;
    }

}

.Branding_Design {

    .costom_padding {
        padding: 88px 24px 0px !important;

    }


    .wid_h1 {
        max-width: 436px;

    }

    .wid_p {
        max-width: 393px;
    }

    .costom_padding_h1 {
        padding-top: 88px !important;
    }

}

.Custome_Plugin {

    .costom_padding {
        padding: 88px 24px 0px !important;

    }


    .wid_h1 {
        max-width: 436px;

    }

    .wid_p {
        max-width: 393px;
    }

    .costom_padding_h1 {
        padding-top: 88px !important;
    }

}

.next_big_thing {

    .costom_padding {
        margin-left: 24px !important;
        margin-right: 24px !important;
        margin-top: 88px !important;
    }

    .next_big_color {
        background-color: #F6F6F6 !important;
    }


    .wid_h1 {
        max-width: 436px;

    }

    .wid_p {
        max-width: 393px;
    }

    .costom_padding_h1 {
        padding-top: 88px !important;
    }

    .btn-primary {
        background-color: #8EADD5 !important;
    }
}

footer {
    .footer_bg_color {
        background-color: #F6F6F6 !important;

    }

    .costom_padding_l_r {
        padding-left: 120px !important;
        padding-right: 120px !important;

    }

    .padding_footer_top {
        padding-top: 104px !important;




    }
}



@media (min-width: 992px) {
    header {
        .white_spacing {
            padding-left: 188px;
            padding-right: 176px;
        }

        .costom_padding {
            padding: 97px 188px 0px !important;

        }
    }

    .companies {
        .costom_padding_companies {
            padding-top: 157px !important;
            padding-left: 262px !important;
            padding-right: 262px !important;

        }

    }

    .Branding_Design {
        .costom_padding {
            padding: 136px 188px 0px !important;

        }

        .costom_padding_h1 {
            padding-top: 97px !important;
        }
    }

    .Custome_Plugin {

        .costom_padding {
            padding: 136px 188px 0px !important;

        }

        .costom_padding_h1 {
            padding-top: 97px !important;
        }

    }

    .next_big_thing {
        .costom_padding {
            margin: 136px 188px 0px !important;

        }

        .costom_padding_h1 {
            padding-top: 97px !important;
        }
    }

    footer {
        .footer_bg_color {
            background-color: #F6F6F6 !important;

        }

        .costom_padding_l_r {
            padding-left: 175px !important;
            padding-right: 175px !important;

        }

        .padding_footer_top {
            padding-top: 104px !important;

        }



    }
}

/* <div class="hero d-flex flex-column flex-lg-row">
            <div class="container bg-primary"> a</div>
            <div class="container bg-dark d-lg-none">b</div> */